body{
	color: #E0ff0E;
	background-color:#f0000f;
	font-family: "Impact";
	font-size: 20px;
}
h1{
	color: #ABCDEF;
	font-family: "Fantacy";
	font-size: 2em;
}
h3{
	color: #00ABFF;
	font-family: "Fixed";
}